img {
    margin: 1px;
}

@media only screen and (min-width: 400px) {
    #tableDiv {
    	width: 200px;
    }
}

@media only screen and (min-width: 500px) { 
    #tableDiv {
    	width: 500px;
    }
}

@media only screen and (min-width: 600px) {
    #tableDiv {
    	width: 800px;
    }
}


@media only screen and (min-width: 850px) {
    #tableDiv {
    	width: 900px;
    }
}


@media only screen and (min-width: 1295px) {
    #tableDiv {
    	width: 1200px;
    }
}